* {
	padding: 0;
	margin: 0;
}

body {
	background-size: cover;
	color: black;
}

h1 {
	text-align: center;
	font-family: Georgia;
	font-size: 40px;
	font-weight: bold;

}

#slogan {
	font-style: italic;
	font-family: Times;
	font-size: 18px;
	text-align: center;
	float: center;
}

#Body {
	text-align: center;
	font-weight: bold;
}

#Contact {
	position: absolute;
	bottom: 0px;
}
